##### CS61A
# Weird files
*.pyc
*.ok*
CS61A/*/tests/
CS61A/*/ok
CS61A/*/construct_check.py
CS61A/*/change_abstraction.py
# Homeworks
CS61A/hw*/*
!CS61A/hw*/hw*.py
!CS61A/hw*/hw*.scm
!CS61A/hw*/hw*.sql
# Labs
CS61A/lab*/*
!CS61A/lab*/lab*.py
!CS61A/lab*/lab*.scm
!CS61A/lab*/lab*.sql
# Hog
CS61A/pro_hog/*
!CS61A/pro_hog/hog.py
# Cats
CS61A/pro_cats/*
!CS61A/pro_cats/cats.py
# Ants
CS61A/pro_ants/*
!CS61A/pro_ants/ants.py
# Scheme
CS61A/pro_scheme/*
!CS61A/pro_scheme/scheme_forms.py
!CS61A/pro_scheme/scheme_eval_apply.py
!CS61A/pro_scheme/scheme_classes.py
!CS61A/pro_scheme/questions.scm
# 61c testing
61c_test/*
!61c_test/*.c
##### General
.DS_Store
